html {
    color: black;
}

body {
    margin: 0;
    background-color: white;
    height: 100%;
}

footer {
    margin-bottom: 10%;
}

.header-banner{
    position: relative;
}

.header-banner {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0,0,0,.7)), url(..//img/banner.jpg);
    /* background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(255,255,255,.5)), url(..//img/banner.jpg); */
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-img {
    width: 100vw;
}

.banner-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    border: solid 2px black;
    min-width: 200px;
    width: 19vw;
}

.nav-bar {
    width: 100%;
    position: fixed;
    top: 0;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
    justify-content: flex-end;
}

.nav-bar li {
    padding: 13px;
    cursor: pointer;
    margin: 3px;
    font-weight: bold;
    color: gray;
}

.nav-bar li:last-child {
    display: none;
}

.nav-bar li:hover {
    background-color: #d9252e4e;
    border-radius: 15%;
}

.contact-us .items> *:hover {
    background-color: #d9252e4e;
}

.footer-banner {
    width: 100%;
}

.contact-us .items > *   {
    border: 2px solid black;
    border-radius: 4%;
    padding: 16px;
    text-align: center;
    font-weight: bold;
    width: auto;
}

.contact-us a {
    text-decoration: none;
    color: black;
}

.contact-us .items {
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
}

.contact-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.project-galery > *  {
    background-image: url("../img/gallery.jpeg");
    width: 30vw;
    height: 30vh;
}

.project-galery {
    width: 80vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.flex-row {
    display: flex;
    flex-direction: row;
}