.nav-bar li {
    display: none;
}

.header-banner {
    background-attachment:scroll !important;
}

.nav-bar li:last-child {
    display: block !important;
    font-size: 32px;
}

.project-galery .projects img{
    width: 90vw;
}

